<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Academic_System_Maven</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
    <description></description>
    <display-name>LoginResidentServlet</display-name>
    <servlet-name>LoginResidentServlet</servlet-name>
    <servlet-class>Servlet.LoginResidentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginResidentServlet</servlet-name>
    <url-pattern>/LoginResidentServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>listScheduleController</display-name>
    <servlet-name>listScheduleController</servlet-name>
    <servlet-class>Servlet.listScheduleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listScheduleController</servlet-name>
    <url-pattern>/listScheduleController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>ListReport</display-name>
    <servlet-name>ListReport</servlet-name>
    <servlet-class>Servlet.ListReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListReport</servlet-name>
    <url-pattern>/ListReport</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>viewReport</display-name>
    <servlet-name>viewReport</servlet-name>
    <servlet-class>Servlet.viewReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewReport</servlet-name>
    <url-pattern>/viewReport</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ResidentViewProfileServlet</display-name>
    <servlet-name>ResidentViewProfileServlet</servlet-name>
    <servlet-class>Servlet.ResidentViewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResidentViewProfileServlet</servlet-name>
    <url-pattern>/ResidentViewProfileServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>LoginPatrolmanServlet</display-name>
    <servlet-name>LoginPatrolmanServlet</servlet-name>
    <servlet-class>Servlet.LoginPatrolmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPatrolmanServlet</servlet-name>
    <url-pattern>/LoginPatrolmanServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>listScheduleControllerPat</display-name>
    <servlet-name>listScheduleControllerPat</servlet-name>
    <servlet-class>Servlet.listScheduleControllerPat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listScheduleControllerPat</servlet-name>
    <url-pattern>/listScheduleControllerPat</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>viewLocation</display-name>
    <servlet-name>viewLocation</servlet-name>
    <servlet-class>Servlet.viewLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewLocation</servlet-name>
    <url-pattern>/viewLocation</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CreateReport</display-name>
    <servlet-name>CreateReport</servlet-name>
    <servlet-class>Servlet.CreateReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReport</servlet-name>
    <url-pattern>/CreateReport</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ListReportPat</display-name>
    <servlet-name>ListReportPat</servlet-name>
    <servlet-class>Servlet.ListReportPat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListReportPat</servlet-name>
    <url-pattern>/ListReportPat</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CreateResidentServlet</display-name>
    <servlet-name>CreateResidentServlet</servlet-name>
    <servlet-class>Servlet.CreateResidentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateResidentServlet</servlet-name>
    <url-pattern>/CreateResidentServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>LoginCommitteeServlet</display-name>
    <servlet-name>LoginCommitteeServlet</servlet-name>
    <servlet-class>Servlet.LoginCommitteeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCommitteeServlet</servlet-name>
    <url-pattern>/LoginCommitteeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>listScheduleControllerComm</display-name>
    <servlet-name>listScheduleControllerComm</servlet-name>
    <servlet-class>Servlet.listScheduleControllerComm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listScheduleControllerComm</servlet-name>
    <url-pattern>/listScheduleControllerComm</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CommViewSchedule</display-name>
    <servlet-name>CommViewSchedule</servlet-name>
    <servlet-class>Servlet.CommViewSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommViewSchedule</servlet-name>
    <url-pattern>/CommViewSchedule</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>createScheduleController</display-name>
    <servlet-name>createScheduleController</servlet-name>
    <servlet-class>Servlet.createScheduleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createScheduleController</servlet-name>
    <url-pattern>/createScheduleController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ListReportComm</display-name>
    <servlet-name>ListReportComm</servlet-name>
    <servlet-class>Servlet.ListReportComm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListReportComm</servlet-name>
    <url-pattern>/ListReportComm</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>viewReportComm</display-name>
    <servlet-name>viewReportComm</servlet-name>
    <servlet-class>Servlet.viewReportComm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewReportComm</servlet-name>
    <url-pattern>/viewReportComm</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ListPatrolmanController</display-name>
    <servlet-name>ListPatrolmanController</servlet-name>
    <servlet-class>Servlet.ListPatrolmanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPatrolmanController</servlet-name>
    <url-pattern>/ListPatrolmanController</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>ListResidentController</display-name>
    <servlet-name>ListResidentController</servlet-name>
    <servlet-class>Servlet.ListResidentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListResidentController</servlet-name>
    <url-pattern>/ListResidentController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CommViewResidentDetailServlet</display-name>
    <servlet-name>CommViewResidentDetailServlet</servlet-name>
    <servlet-class>Servlet.CommViewResidentDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommViewResidentDetailServlet</servlet-name>
    <url-pattern>/CommViewResidentDetailServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateReport</display-name>
    <servlet-name>UpdateReport</servlet-name>
    <servlet-class>Servlet.UpdateReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReport</servlet-name>
    <url-pattern>/UpdateReport</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CommUpdateResidentController</display-name>
    <servlet-name>CommUpdateResidentController</servlet-name>
    <servlet-class>Servlet.CommUpdateResidentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommUpdateResidentController</servlet-name>
    <url-pattern>/CommUpdateResidentController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateResidentListController</display-name>
    <servlet-name>UpdateResidentListController</servlet-name>
    <servlet-class>Servlet.UpdateResidentListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateResidentListController</servlet-name>
    <url-pattern>/UpdateResidentListController</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>CreatePatrolmanServlet</display-name>
    <servlet-name>CreatePatrolmanServlet</servlet-name>
    <servlet-class>Servlet.CreatePatrolmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePatrolmanServlet</servlet-name>
    <url-pattern>/CreatePatrolmanServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>UpdatePatrolman</display-name>
    <servlet-name>UpdatePatrolman</servlet-name>
    <servlet-class>Servlet.UpdatePatrolman</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatrolman</servlet-name>
    <url-pattern>/UpdatePatrolman</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ListPatrolmanControllerUpdate</display-name>
    <servlet-name>ListPatrolmanControllerUpdate</servlet-name>
    <servlet-class>Servlet.ListPatrolmanControllerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPatrolmanControllerUpdate</servlet-name>
    <url-pattern>/ListPatrolmanControllerUpdate</url-pattern>
</servlet-mapping>

<servlet>
    <description></description>
    <display-name>PatrolViewScheduleDetail</display-name>
    <servlet-name>PatrolViewScheduleDetail</servlet-name>
    <servlet-class>Servlet.PatrolViewScheduleDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatrolViewScheduleDetail</servlet-name>
    <url-pattern>/PatrolViewScheduleDetail</url-pattern>
</servlet-mapping>
  
  
  
</web-app>